<%- include('header') %>

<h1>Détails sur: <%= card.name %> [niv <%=card.level%>]</h1>

<div class="cardsContainer">

    <div class="card">
        <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
        <p class="cardName"><%= card.name %> [<%=card.level%>]</p>
      <a class="link--addCard" title="Ajouter au deck" href="#">[ + ]</a>
    </div>

</div>


<%- include('footer') %>